body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sqr {
  border: 2px solid #000;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#message {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
